{{#ui/toolbar-x as |bar|}}
  {{ui/toolbar-reload-button
    onclick=(action "refresh")
    classNames="js-reload-container-btn"
  }}

  {{bar.divider}}

  {{ui/send-to-console action=(action "sendContainerToConsole")}}

  {{bar.divider}}

  <div
    class="toolbar__search js-container-instance-search"
  >
    {{ui/toolbar-search-field value=searchValue}}
  </div>
{{/ui/toolbar-x}}
