{{#ui/toolbar-content as |bar|}}
  {{ui/toolbar-icon-button
    classNames="js-clear-promises-btn"
    onclick=(action "clear")
    svgName="toolbar-clear-2"
    title="Clear"
  }}

  {{! if should refresh the refresh button will be in the middle of the of the tab }}
  {{#unless shouldRefresh}}
    {{bar.divider}}

    {{ui/toolbar-icon-button
      classNames="js-toolbar-page-refresh-btn"
      onclick=(action "refresh")
      svgName="toolbar-reload"
      title="Reload"
    }}
  {{/unless}}

  {{bar.divider}}

  {{bar.searchField
    class="js-promise-search"
    value=searchValue
  }}

  {{bar.divider}}

  <button
    class="{{if noFilter "active"}} toolbar__radio toolbar__radio--first js-filter"
    {{action "setFilter" "all"}}
  >
    All
  </button>

  <button
    class="{{if isRejectedFilter "active"}} toolbar__radio js-filter"
    {{action "setFilter" "rejected"}}
  >
    Rejected
  </button>
  <button
    class="{{if isPendingFilter "active"}} toolbar__radio js-filter"
    {{action "setFilter" "pending"}}
  >
    Pending
  </button>
  <button
    class="{{if isFulfilledFilter "active"}} toolbar__radio toolbar__radio--last js-filter"
    {{action "setFilter" "fulfilled"}}
  >
    Fulfilled
  </button>

  {{bar.divider}}

  <div class="toolbar__checkbox js-with-stack">
    <label for="instrument-with-stack">
      {{ui/action-checkbox
        onUpdate=(action "updateInstrumentWithStack")
        checked=instrumentWithStack
        id="instrument-with-stack"
      }}
      Trace promises
    </label>
  </div>
{{/ui/toolbar-content}}
