{{#ui/toolbar-x as |bar|}}
  {{ui/toolbar-clear-button
    onclick=(action "clear")
  }}

  {{#unless showEmpty}}
    {{bar.divider}}

    {{ui/toolbar-reload-button
      onclick=(action "refresh")
      classNames="js-toolbar-page-refresh-btn"
    }}
  {{/unless}}

  {{bar.divider}}

  <div class="toolbar__search js-render-profiles-search">
    {{ui/toolbar-search-field value=searchValue}}
  </div>
{{/ui/toolbar-x}}
