{{#ui/toolbar-content as |bar|}}
  <button
    class="{{if inspectingViews "active"}} toolbar__icon-button js-inspect-views"
    {{action "toggleViewInspection"}}
  >
    {{svg-jar
      "toolbar-inspect"
      width="16px"
      height="16px"
    }}
  </button>

  {{bar.divider}}

  <div class="toolbar__checkbox js-filter-components">
    <label for="options-components">
      {{input
        type="checkbox"
        checked=options.components
        id="options-components"
      }}
      Components
    </label>
  </div>

  {{bar.divider}}

  {{bar.searchField
    class="js-filter-views"
    value=searchValue
  }}
{{/ui/toolbar-content}}
